In [6]:
import pandas as pd
df = pd.read_csv('../../dataset/train_preprocessed_1.csv')
kolom_yang_dihapus = ['Gender','Age', 'Driving_License', 'Vehicle_Age', 'Age_Bin', 'Age_Vehicle_Age_Interaction',
                      'Annual_Premium','Vintage']
df = df.drop(kolom_yang_dihapus, axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381109 entries, 0 to 381108
Data columns (total 8 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Unnamed: 0                      381109 non-null  int64
 1   Region_Code                     381109 non-null  int64
 2   Previously_Insured              381109 non-null  int64
 3   Vehicle_Damage                  381109 non-null  int64
 4   Policy_Sales_Channel            381109 non-null  int64
 5   Gender_Category                 381109 non-null  int64
 6   Vehicle_Damage_Age_Interaction  381109 non-null  int64
 7   Response                        381109 non-null  int64
dtypes: int64(8)
memory usage: 23.3 MB

In [7]:
df.head()

,Unnamed: 0,Region_Code,Previously_Insured,Vehicle_Damage,Policy_Sales_Channel,Gender_Category,Vehicle_Damage_Age_Interaction,Response
0,0,52,0,1,126,7,3,1
1,1,44,0,0,126,4,0,0
2,2,52,0,1,126,8,3,1
3,3,35,1,0,38,2,0,0
4,4,39,1,0,38,5,0,0

Berdasarkan feature extraction maka fitur-fitur yang dapat di drop diantaranya adalah:
1. Gender dan Gender Category = nilai korelasi Gender terhadap response 0,05 sedangkan Gender Category terhadap response 0,19, maka feature Gender di hapus dari data set.
2. Age Bin & Age_Vehicle_Age_Interaction: Fitur ini mempunyai nilai korelasi Redundant terhadap Age yaitu 0.95, 0.89 maka fitur-fitur ini di hapus dari data set.
3. Driving License: Bernilai korelasi yang sangat kecil terhadap feature manapun, maka feature tersebut di hapus dari data set.
4. Vintage: Fitur ini tidak mempunyai nilai korelasi dengan feature mana pun, maka feature tersebut di hapus dari data set adapaun alasan lain berdasarkan plot datanya, data ini kami anggap sebagai data yang tidak sesuai dengan realnya.
5. Vehicle_age: Policy_Sales_Channel dan Vehicle age memiliki nilai korelasi Redundant yaitu 0.79 , walaupun isi dari setiap feature tersebut berbeda konteks tapi nilai korelasinya tinggi, maka salah satu harus di hapus dari data set, yaitu Vehicle Age yang harus di hapus
6.  Age: Policy_Sales_Channel dan age juga memiliki nilai yang redundant maka age juga harus di drop.