In [5]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv('train.csv')

# Descriptive Statistics

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381109 entries, 0 to 381108
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    381109 non-null  int64
 1   Gender                381109 non-null  object
 2   Age                   381109 non-null  int64
 3   Driving_License       381109 non-null  int64
 4   Region_Code           381109 non-null  float64
 5   Previously_Insured    381109 non-null  int64
 6   Vehicle_Age           381109 non-null  object
 7   Vehicle_Damage        381109 non-null  object
 8   Annual_Premium        381109 non-null  float64
 9   Policy_Sales_Channel  381109 non-null  float64
 10  Vintage               381109 non-null  int64
 11  Response              381109 non-null  int64
dtypes: float64(3), int64(6), object(3)
memory usage: 34.9+ MB

- Seluruh nama kolom dan tipe data telah sesuai
- Tidak ada kolom yang memiliki nilai null

In [19]:
cat = ["Gender","Driving_License","Region_Code","Previously_Insured","Vehicle_Age","Vehicle_Damage","Policy_Sales_Channel","Response"]
num = ["Age","Annual_Premium","Vintage"]

In [9]:
df[num].describe()

                 Age  Annual_Premium        Vintage
count  381109.000000   381109.000000  381109.000000
mean       38.822584    30564.389581     154.347397
std        15.511611    17213.155057      83.671304
min        20.000000     2630.000000      10.000000
25%        25.000000    24405.000000      82.000000
50%        36.000000    31669.000000     154.000000
75%        49.000000    39400.000000     227.000000
max        85.000000   540165.000000     299.000000

- Pada kolom Age dan Vintage nilai mean dan median tidak memiliki gap yang signifikan, menunjukkan bahwa distribusi cenderung normal
- Pada kolom Annual_Premium nilai mean dan median memiliki gap yang signifikan, menunjukkan adanya outlier atau skewed distribution

In [23]:
df_cat = df[cat]
df_cat['Driving_License']=df_cat['Driving_License'].astype(str)
df_cat['Region_Code']=df_cat['Region_Code'].astype(str)
df_cat['Previously_Insured']=df_cat['Previously_Insured'].astype(str)
df_cat['Policy_Sales_Channel']=df_cat['Policy_Sales_Channel'].astype(str)
df_cat['Response']=df_cat['Response'].astype(str)
df_cat.describe()

C:\Users\hanif\AppData\Local\Temp\ipykernel_9776\2358853885.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat['Driving_License']=df_cat['Driving_License'].astype(str)
C:\Users\hanif\AppData\Local\Temp\ipykernel_9776\2358853885.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat['Region_Code']=df_cat['Region_Code'].astype(str)
C:\Users\hanif\AppData\Local\Temp\ipykernel_9776\2358853885.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat['Previously_Insured']=df_cat['Previously_Insured'].astype(str)
C:\Users\hanif\AppData\Local\Temp\ipykernel_9776\2358853885.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat['Policy_Sales_Channel']=df_cat['Policy_Sales_Channel'].astype(str)
C:\Users\hanif\AppData\Local\Temp\ipykernel_9776\2358853885.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat['Response']=df_cat['Response'].astype(str)

,Gender,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Policy_Sales_Channel,Response
count,381109,381109,381109,381109,381109,381109,381109,381109
unique,2,2,53,2,3,2,155,2
top,Male,1,28.0,0,1-2 Year,Yes,152.0,0
freq,206089,380297,106415,206481,200316,192413,134784,334399

In [36]:
check_columns = ['Gender', 'Vehicle_Age', 'Vehicle_Damage',] 

for column in check_columns:
    unique_values = df_cat[column].unique()
    print(f"Unique values in the '{column}' column:", unique_values)

Unique values in the 'Gender' column: ['Male' 'Female']
Unique values in the 'Vehicle_Age' column: ['> 2 Years' '1-2 Year' '< 1 Year']
Unique values in the 'Vehicle_Damage' column: ['Yes' 'No']

- nilai unique, freq, dan top pada masing-masing kolom sudah sesuai